<div class="border-bottom">
<div class="container pt-3 ">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="/assets/mifort.png" alt="" width="60" height="50">
        <span class="fs-4">Mifort - Human Resources</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="candidates/#">Candidates</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="candidates/#">History</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="candidates/#">Keywords</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="candidates/#">Merge</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="candidates/#">Support</a>
        <a class="me-3 py-2 btn btn-outline-primary" href="candidates/#">Login</a>
        <a class="py-2 btn btn-outline-secondary" href="candidates/#">Sign up</a>
      </nav>
    </div>
  </header>
  </div>
</div>
