<div class="col left-sidebar-filter" style="background-color: #fff">
  <div class="panel-with-filters">
    <div class="filter-name">
      <span class="filter-name-text">Filter criteria</span>
    </div>
    <hr style="padding: 0; margin: 0">
    <form action="">
      <div class="filter form-outline">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" id="firstname" placeholder="Enter ">
      </div>
      <div class="filter form-outline">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="lastname" placeholder="Enter ">
      </div>
      <div class="filter form-outline">
        <label for="date_of_birth">Date of birth</label>
        <input type="date" class="form-control" id="date_of_birth" placeholder="Enter ">
      </div>
      <div class="filter form-outline">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="Enter ">
      </div>
      <div class="filter form-outline">
        <label for="company">Company</label>
        <input type="text" class="form-control" id="company" placeholder="Enter ">
      </div>
      <div class="filter form-outline">
        <label for="passport">Passport</label>
        <input type="text" class="form-control" id="passport" placeholder="Enter ">
      </div>
      <div class="filter form-outline">
        <label for="phone">Phone</label>
        <input type="phone" class="form-control" id="phone" placeholder="Enter ">
      </div>
      <div class="filter form-outline">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter ">
      </div>
      <div class="filter form-outline">
        <span class="sex-criteria-text">Sex</span>
        <div class="sex-criteria">
          <div class="criteria">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="male">
            <label class="form-check-label criteria-text" for="male">
              Male
            </label>
          </div>
          <div class="criteria">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="female">
            <label class="form-check-label criteria-text" for="female">
              Female
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
